
* {
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
  }
body {
    margin: 0 auto;
    background: #f9f9f9;
    font-family: "Roboto", sans-serif;
}
.imagescover {
    width: 100%;
    height: 520px;
    background-image: url("../images/continents.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    object-fit: cover;
}
h1 {
    margin: 0 auto;
    color: white;
    font-size: 50px;
    background-color: brown;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: "Fraunces", serif;
    font-weight: 400;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
    align-content: center;
}
p {
    font-size: 20px;
    color: #555;
    line-height: 1.5;
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color:rgb(255, 255, 255);
}



.titrecontinents {
    margin: 20px 0;
    color:brown;
    font-family: "Roboto", sans-serif;
}
.destinations {
    margin: 40px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}
.destination-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 30px;
    padding: 20px;
    width: 400px;
    text-align: center;
}
.destination-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.destination-card img:hover {
    transform: scale(1.5);
    transition: 0.3s;
    border-radius: 8px;
}
.destination-card h2 {
    font-size: 24px;
    margin: 10px 0;
}

.button{
    margin: 0 auto;
    align-items: center;
    width: 150px;
    border: 2px solid brown;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: brown;
}


/* footer */
.footer{
    width: 100%;
    position:absolute;
    background-color:bisque;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
}
.blocsite{
    height: 60px;
    padding: 10px;
}
.textesite{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color:rgb(0, 0, 0);
}

/* bouton en savoir plus */
.button {
    display: inline-block;
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color:brown;
    text-decoration: none;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: white;
}
.textebutton {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color:brown;
}